<ion-header>
  <ion-toolbar color="dark">
      <ion-title [class.hideTitle]="!displayTitle">
        Josh
      </ion-title>
      <ion-buttons slot="end">
          <ion-button><ion-icon slot="icon-only" name="beer"></ion-icon></ion-button>
          <ion-button><ion-icon slot="icon-only" name="bicycle"></ion-icon></ion-button>
          <ion-button><ion-icon slot="icon-only" name="boat"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>

  <shrinking-header (collapsed)="displayTitle=$event" [scrollArea]="myContent" headerHeight="150">
      <img src="http://placehold.it/75" />
      <h2>Josh</h2>
  </shrinking-header>

  <ion-toolbar color="light" mode="md">
    <ion-segment color="dark" mode="md" [(ngModel)]="section">
      <ion-segment-button value="one">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="two">
        <ion-icon name="cog"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="three">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" #myContent>

  <div [ngSwitch]="section">

    <ion-list *ngSwitchCase="'one'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail slot="start">
          <img src="https://avatars.io/instagram/unknown">
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'two'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail slot="start">
          <img src="https://avatars.io/instagram/unknown">
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'three'">
      <ion-item *ngFor="let something of somethings">
        <ion-thumbnail slot="start">
          <img src="https://avatars.io/instagram/unknown">
        </ion-thumbnail>
        <h2>Something</h2>
      </ion-item>
    </ion-list>

  </div>

</ion-content>